<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marriage.user.dao.UserDao">

<insert id="addUser" parameterType="map" useGeneratedKeys="true" keyProperty="userId">
	insert into user 
	(user_name,password,user_character)
	values(#{userName},#{password},#{userCharacter})
</insert>


<insert id="addManInformation" parameterType="map">
	insert into man_information
	(user_id,true_name,karigana,romaji,postal_code,prefectures,municipal_ward,street_bunch
	,building_name,ancestral_home,phone,mobile_phone,email,other_email,line_id,date_of_birth,age
	,hobby,qualification,smoking,sake,height,weight,blood_group,education,occupation,annual_income
	,assets,holiday,residence_form,home_rowing,family_members,marriage_history,living_together
	,remarriage_num,remarriage_situation,divorce_reason,message,remark)
	
	values(#{userId},#{trueName},#{karigana},#{romaji},#{postalCode},#{prefectures},#{municipalWard},#{streetBunch}
	,#{buildingName},#{ancestralHome},#{phone},#{mobilePhone},#{email},#{otherEmail},#{lineId},#{dateOfBirth},#{age}
	,#{hobby},#{qualification},#{smoking},#{sake},#{height},#{weight},#{bloodGroup},#{education},#{occupation},#{annualIncome}
	,#{assets},#{holiday},#{residenceForm},#{homeRowing},#{familyMembers},#{marriageHistory},#{livingTogether}
	,#{remarriageNum},#{remarriageSituation},#{divorceReason},#{message},#{remark})
</insert>


<resultMap type="com.marriage.user.entity.ManInformation" id="manResoultMap">
	
	<result column="user_id" property="userId"/>
	<result column="true_name" property="trueName"/>
	<result column="karigana" property="karigana"/>
	<result column="romaji" property="romaji"/>
	<result column="postal_code" property="postalCode"/>
	<result column="prefectures" property="prefectures"/>
	<result column="municipal_ward" property="municipalWard"/>
	<result column="street_bunch" property="streetBunch"/>
	<result column="building_name" property="buildingName"/>
	<result column="ancestral_home" property="ancestralHome"/>
	<result column="phone" property="phone"/>
	<result column="mobile_phone" property="mobilePhone"/>
	<result column="email" property="email"/>
	<result column="other_email" property="otherEmail"/>
	<result column="line_id" property="lineId"/>
	<result column="date_of_birth" property="dateOfBirth"/>
	<result column="age" property="age"/>
	<result column="hobby" property="hobby"/>
	<result column="qualification" property="qualification"/>
	<result column="smoking" property="smoking"/>
	<result column="sake" property="sake"/>
	<result column="height" property="height"/>
	<result column="weight" property="weight"/>
	<result column="blood_group" property="bloodGroup"/>
	<result column="education" property="education"/>
	<result column="occupation" property="occupation"/>
	<result column="annual_income" property="annualIncome"/>
	<result column="assets" property="assets"/>
	<result column="holiday" property="holiday"/>
	<result column="residence_form" property="residenceForm"/>
	<result column="home_rowing" property="homeRowing"/>
	<result column="family_members" property="familyMembers"/>
	<result column="marriage_history" property="marriageHistory"/>
	<result column="living_together" property="livingTogether"/>
	<result column="remarriage_num" property="remarriageNum"/>
	<result column="remarriage_situation" property="remarriageSituation"/>
	<result column="divorce_reason" property="divorceReason"/>
	<result column="message" property="message"/>
	<result column="remark" property="remark"/>
	<association property="user" javaType="com.marriage.user.entity.User">
		<result column="user_id" property="rowId"/>
		<result column="user_name" property="userName"/>
		<result column="password" property="password"/>
		<result column="user_character" property="userCharacter"/>
		<result column="activation" property="activation"/>
		<result column="del_flag" property="delFlag"/>
	</association>
	<collection column="user_id" property="imgs" select="selectImgsByUserId"></collection>
</resultMap>
<select id="selectImgsByUserId" resultType="com.marriage.img.entity.ImgEntity">
	select  img_id AS imgId
		    ,img_id AS rowId
			,user_id AS userId
			,img_url AS imgUrl
			,del_flag AS delFlag
	
	from img 
	where user_id = #{user_id}
</select>

<select id="selectManInformationByPage" resultMap="manResoultMap" parameterType="map">

	select  mi.user_id,mi.true_name,mi.karigana,mi.romaji,mi.postal_code,mi.prefectures,mi.municipal_ward,mi.street_bunch
			,mi.building_name,mi.ancestral_home,mi.phone,mobile_phone,mi.email,mi.other_email,mi.line_id,mi.date_of_birth,mi.age
			,mi.hobby,mi.qualification,mi.smoking,mi.sake,mi.height,mi.weight,mi.blood_group,mi.education,mi.occupation,mi.annual_income
			,mi.assets,mi.holiday,mi.residence_form,mi.home_rowing,mi.family_members,mi.marriage_history,mi.living_together
			,mi.remarriage_num,mi.remarriage_situation,mi.divorce_reason,mi.message,mi.remark
			,us.user_name,us.password,us.user_character,us.activation,us.del_flag
	
	from man_information AS mi 
		 join user AS us on mi.user_id =  us.user_id
		 
	where us.del_flag = 0 
		  and us.activation = 0 or us.activation = 1 
		  <!-- <if test="#{maxPoint} != null">
    		and m.member_points_top  &lt; #{maxPoint}
    	</if> -->

	order by us.user_id desc

	<if test="start != null">
    	limit #{start},#{size}
    </if>

</select>

<update id="updateManInformationByUserId">

	 update 
      man_information
      <set>
      <if test="trueName != null and trueName != '' ">
      true_name = #{trueName},
      </if>
      <if test="karigana != null and karigana != '' ">
      karigana = #{karigana},
      </if>
      <if test="romaji != null and romaji != '' ">
      romaji = #{romaji},
      </if>
      <if test="postalCode != null and postalCode != '' ">
      postal_code = #{postalCode},
      </if>
      <if test="prefectures != null and prefectures != '' ">
      prefectures = #{prefectures},
      </if>
      <if test="municipalWard != null and municipalWard != '' ">
      municipal_ward = #{municipalWard},
      </if>
      <if test="streetBunch != null and streetBunch != '' ">
      street_bunch = #{streetBunch},
      </if>
      <if test="buildingName != null and buildingName != '' ">
      building_name = #{buildingName},
      </if>
      <if test="ancestralHome != null and ancestralHome != '' ">
      ancestral_home = #{ancestralHome},
      </if>
      <if test="phone != null and phone != '' ">
      phone = #{phone},
      </if>
      <if test="mobilePhone != null and mobilePhone != '' ">
      mobile_phone = #{mobilePhone},
      </if>
      <if test="email != null and email != '' ">
      email = #{email},
      </if>
      <if test="lineId != null and lineId != '' ">
      line_id = #{lineId},
      </if>
      <if test="dateOfBirth != null and dateOfBirth != '' ">
      date_of_birth = #{dateOfBirth},
      </if>
      <if test="age != null and age != '' ">
      age = #{age},
      </if>
      <if test="hobby != null and hobby != '' ">
      hobby = #{hobby},
      </if>
      <if test="qualification != null and qualification != '' ">
      qualification = #{qualification},
      </if>
      <if test="smoking != null and smoking != '' ">
      smoking = #{smoking},
      </if>
      <if test="sake != null and sake != '' ">
      sake = #{sake},
      </if>
      <if test="height != null and height != '' ">
      height = #{height},
      </if>
      <if test="weight != null and weight != '' ">
      weight = #{weight},
      </if>
      <if test="bloodGroup != null and bloodGroup != '' ">
      blood_group = #{bloodGroup},
      </if>
      <if test="education != null and education != '' ">
      education = #{education},
      </if>
      <if test="occupation != null and occupation != '' ">
      occupation = #{occupation},
      </if>
      <if test="annualIncome != null and annualIncome != '' ">
      annual_income = #{annualIncome},
      </if>
      <if test="assets != null and assets != '' ">
      assets = #{assets},
      </if>
      <if test="holiday != null and holiday != '' ">
      holiday = #{holiday},
      </if>
      <if test="residenceForm != null and residenceForm != '' ">
      residence_form = #{residenceForm},
      </if>
      <if test="homeRowing != null and homeRowing != '' ">
      home_rowing = #{homeRowing},
      </if>
      <if test="familyMembers != null and familyMembers != '' ">
      family_members = #{familyMembers},
      </if>
      <if test="marriageHistory != null and marriageHistory != '' ">
      marriage_history = #{marriageHistory},
      </if>
      <if test="livingTogether != null and livingTogether != '' ">
      living_together = #{livingTogether},
      </if>
      <if test="remarriageNum != null and remarriageNum != '' ">
      remarriage_num = #{remarriageNum},
      </if>
      <if test="remarriageSituation != null and remarriageSituation != '' ">
      remarriage_situation = #{remarriageSituation},
      </if>
      <if test="divorceReason != null and divorceReason != '' ">
      divorce_reason = #{divorceReason},
      </if>
      <if test="message != null and message != '' ">
      message = #{message},
      </if>
      <if test="remark != null and remark != '' ">
      remark = #{remark},
      </if>
      
      </set>
      where 
      user_id=#{userId}

</update>


<update id="updateUserDelFlagByIds">
	update user 
	set del_flag = 1
	where user_id in (${ids})
</update>


<select id="selectUserByUserName" parameterType="string" resultType="com.marriage.user.entity.User">

	select 	user_name AS userName
			,user_id AS　userId
	
	from user
	
	where user_name = #{userName}
	
	
</select>

</mapper>