<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ycw.system.dao.RoleDao">
	<!-- 角色查询 -->
	<select id="getRoleList" resultType="ycw.system.pojo.base.TSRole" parameterType="map">
		SELECT 
			ID,
			roleName,
			roleCode
			from t_s_role
			limit #{begin}, #{end}
	</select>
	<!-- 查询角色条数-->
	<select id="getRoleCount" resultType="int">
		SELECT 
			count(ID)
			from t_s_role
	</select>
	<!-- 角色删除-->
	<delete id="deletRole" parameterType="ycw.system.pojo.base.TSRole" >
		DELETE FROM t_s_role WHERE ID = #{id}
	</delete>
	
	<!-- 角色录入-->
	<insert id="saveRole" parameterType="ycw.system.pojo.base.TSRole">
		INSERT INTO t_s_role
 			(ID,roleName,roleCode)
 		VALUES (#{id},#{roleName},#{roleCode});
	</insert>
	
	<!-- 查询角色信息-->
	<select id="selectRole" parameterType="String" resultType="ycw.system.pojo.base.TSRole">
		SELECT 
			id,
			roleName,
			roleCode
		from t_s_role
		where ID = #{id}
	</select>
	
	<!-- 修改角色信息-->
	<update id="updateRole" parameterType="ycw.system.pojo.base.TSRole">
		UPDATE  t_s_role SET
			roleName = #{roleName},
			roleCode = #{roleCode}
		where ID = #{id}
	</update>
	<!-- 校验查询角色编码-->
	<select id="selectCheckRole" parameterType="map" resultType="ycw.system.pojo.base.TSRole">
		select roleCode
		from t_s_role
		where roleCode = #{roleCode}
	</select>
	<!-- 查询TSRoleFunction-->
	<select id="selectRoleid" parameterType="ycw.system.pojo.base.TSRole" resultType="List">
     select
        ID,
        functionid,
        roleid
    from
        t_s_role_function
    where
        roleid=#{id}
	</select>
	<!-- 删除TSRoleFunction数据 -->
	<delete id="deletRoleFunction" parameterType="map" >
		DELETE FROM t_s_role_function WHERE roleid = #{roleId}
	</delete>
	
	<!-- 查询TSRoleUser-->
	<select id="selectroleUsers" parameterType="ycw.system.pojo.base.TSRole" resultType="ycw.system.pojo.base.TSRoleUser">
     select
        this_.ID
    from
        t_s_role_user this_ 
    left outer join
        t_s_role tsrole2_ 
            on this_.roleid=tsrole2_.ID 
    left outer join
        t_s_user tsuser3_ 
            on this_.userid=tsuser3_.id 
    left outer join
        t_s_base_user tsuser3_1_ 
            on tsuser3_.id=tsuser3_1_.ID 
    where
        this_.roleid=#{id}
	</select>
	<!-- 删除TSRoleUser数据 -->
	<delete id="deletRoleUser" parameterType="ycw.system.pojo.base.TSRoleUser" >
		DELETE FROM t_s_role_user WHERE ID = #{id}
	</delete>
	
	
	
	<!-- 查询菜单父级列表-->
	<select id="getFunctionlist" parameterType="map" resultType="ycw.system.pojo.base.TSFunction">
		
    select
        ID,
        parentfunctionid,
        iconid,
        functioniframe,
        functionlevel,
        functionname,
        functionorder,
        functionurl 
    from
        t_s_function
    where functionlevel != #{functionLevel}
    
		<if test="parentId != '' and parentId != null">
			AND parentfunctionid = #{parentId}
		</if>
		
		<if test="parentId == '' or parentId == null">
			AND parentfunctionid is null 
		</if>
	</select>
	
	<!-- 查询菜单子级列表-->
	<select id="getChildFunlist" parameterType="string" resultType="ycw.system.pojo.base.TSFunction">
		
    select
        ID,
        parentfunctionid,
        iconid,
        functioniframe,
        functionlevel,
        functionname,
        functionorder,
        functionurl 
    from
        t_s_function 
    where
        parentfunctionid = #{id}
	</select>
	
	
	<!--根据权限查询菜单表-->
	<select id="getRoleFun" parameterType="string" resultType="ycw.system.pojo.base.TSFunction">
		
    select f.*
    from
        t_s_role_function rf,   
        t_s_function  f
    where
        roleid=#{id}
        and rf.functionid = f.id
	</select>
	
	
	<!--根据权限查询权限菜单表-->
	<select id="getrf" parameterType="string" resultType="ycw.system.vo.RoleFunctionVo">
		
    select *
    from
        t_s_role_function
    where
        roleid=#{id}
	</select>
	
	<insert id="saveList" parameterType="java.util.List">
	insert 
    into
        t_s_role_function
        (functionid, roleid, ID) 
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.functionid},#{item.roleid},#{item.id})  
    </foreach> 
	</insert>
	
	
	<delete id="deleteAll" parameterType="java.util.List">
	
		delete from t_s_role_function where id in
	
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >  
        #{item.id}
    </foreach> 
	</delete>
	
	<!-- 查询关联表是否存在数据-->
	<select id="selecRoUsCount" parameterType="String" resultType="int">
		SELECT 
			COUNT(tsr.id)
		FROM
			t_s_role_user tsru 
			INNER  JOIN t_s_role tsr ON tsru.roleid = tsr.ID 
			INNER  JOIN t_s_user tsu ON tsru.userid = tsu.id 
			INNER  JOIN t_s_base_user tsbu ON tsu.id = tsbu.ID 
		WHERE 1=1 and tsu.isdelete='0'
		AND tsr.id = #{id}
	</select>
	
	<!-- 是否为管理员权限查询-->
	<select id="selJurisdictionAdmin" parameterType="String" resultType="ycw.system.pojo.base.TSRole">
		SELECT 
			tsr.rolecode
		FROM
			t_s_role_user tsru 
			INNER  JOIN t_s_role tsr ON tsru.roleid = tsr.ID 
			INNER  JOIN t_s_user tsu ON tsru.userid = tsu.id 
			INNER  JOIN t_s_base_user tsbu ON tsu.id = tsbu.ID 
		WHERE 1=1 
		AND tsu.id = #{id}
	</select>
</mapper>