<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ycw.system.dao.TypeDao">
  <!-- 参数管理查询 -->
	<select id="getTypeList" resultType="ycw.system.pojo.base.TSTypegroup" >
			SELECT 
			id,
			typegroupname,
			typegroupcode
		FROM
			t_s_typegroup
			
	</select>
	 <!-- 查看类型查询 -->
	<select id="getTypes" parameterType="map" resultType="ycw.system.pojo.base.TSType" >
			SELECT 
			ID as id,
			typecode,
			typename
		FROM
			t_s_type
		where typegroupid = #{typegroupid}
		
		<if test = "typename != '' and typename != null"> 
			AND typename like '%#{typename}%'
		</if>
		limit #{begin},#{end}	 
			
			
	</select>
	  <!-- 查看类型分类 总数-->
        <select id="getTypesCount" resultType="int">
		select count(ID)
		   FROM
			t_s_type
		where typegroupid = #{typegroupid}
		  
	</select>
	   <!-- 类别录入 -->
	   <insert id="saveTypes" parameterType="ycw.system.pojo.base.TSType">
 		insert 
    into
        t_s_type
        (typegroupid, typecode, typename, ID) 
    values
        (#{TSTypegroup.id},#{typecode},#{typename},#{id})
	</insert>
	    <!-- 类别编辑 -->
	    <update id="updateTypes" parameterType="ycw.system.pojo.base.TSType">
		UPDATE  t_s_type SET
			typename = #{typename},
			typecode = #{typecode}
		where id = #{id}
	</update>
	<!-- 查询类别信息-->
	<select id="selectTypes" parameterType="String" resultType="ycw.system.pojo.base.TSType">
		SELECT 
			id,
			typecode,
			typename
		from t_s_type
		where id = #{id}
	</select>
	<!-- 角色删除-->
	<select id="selectTypesid" parameterType="String" resultType="ycw.system.pojo.base.TSType">
    select
        ID as id,
        typepid,
        typegroupid,
         typecode,
        typename 
    from
        t_s_type 
    where
        id=#{id}
	 
	</select>
	<delete id="deleteTypes" parameterType="String" >
		DELETE FROM t_s_type WHERE id = #{id}
	</delete>
	<!-- 类别录入校验 -->
	<select id="insertTypes" parameterType="map" resultType="ycw.system.pojo.base.TSType">
    SELECT t.*
  from t_s_type t, t_s_typegroup tg
  where tg.id = #{typeGroupId}
  and t.typegroupid = tg.id
  and t.typecode = #{typecode}
	</select>
	
	<select id="selectParentType" parameterType="string" resultType="ycw.system.pojo.base.TSTypegroup">
    SELECT tg.*
  from t_s_type t, t_s_typegroup tg
  where t.id = #{id}
  and t.typegroupid = tg.id
	</select>
	
</mapper>