<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marriage.img.dao.ImgDao">

	<insert id="addUserImg">
		insert into img
		(user_id,img_url)
		
		values(#{userId},#{imgUrl})
	</insert>


</mapper>